.DS_Store
node_modules
log
cache
/npm-debug.log

# Web
/web/npm-debug.log
/web/workspace/public/robots.txt
/web/node_modules

# Api
/api/npm-debug.log
/api/node_modules
/api/cache
/api/workspace/media

# Publish
/publish/npm-debug.log
/publish/node_modules
