form {
	.btn, .text {
		line-height: 1.25;
		font-weight: bolder;
		padding: 10px 22px;
		display: inline-block;
		text-align: center;
		border-radius: 0 $radius $radius 0;
		word-wrap: break-word;
		border: 0;
		color: #fff;
		letter-spacing: -0.02em;
		transition: background 0.1s;
		position: relative;
		outline: none;
		cursor: pointer;
		box-shadow: inset 0 -2px 0 rgba($black,0.1);
		border: 1px solid darken($blue,10%);

		background: $blue;
		color: #fff;

		&:active,&:hover,&:focus {
			background: darken($blue,10%);
		}

		@media #{$break-small} {
			width: 100%;
			border-radius: 0 0 $radius $radius;
		}
	}
	.text {
		box-shadow: none;
		border-radius: $radius 0 0 $radius;
		background-color: #fff;
		color: $text;
		border: 1px solid #e8f0f7;
		text-align: left;
		width: 300px;

		&:active,&:hover,&:focus {
			background: #fff;
		}

		@media #{$break-small} {
			width: 100%;
			border-radius: $radius $radius 0 0;
			text-align: center;
		}
	}
}

.product-logo {
	display: block;
	height: 80px;
}
@media #{$break-small} {
	.product-logo-full {
		max-width: 100%;
		height: auto;
	}
}

.product {
	border-top: 1px solid $bdr-grey;
	padding-top: 30px;
}

.zoom {
	transition: all 0.15s ease-in-out;

	&:hover {
		transform: scale(1.05);

		.btn {
			background: $dark-grey;
			color: #fff;
		}
	}
}


.read {
	margin-left: auto;
	margin-right: auto;

	h1,h2,h3,h4 {
		margin: 2em auto 0;
		max-width: 680px;

		&:first-of-type() {
			margin-top: 0.6em;
		}
	}
	img {
		max-width: 100%;
		height: auto;
	}
	iframe {
		max-width: 100%;
	}
	ul,
	ol {
		margin: 1.5em auto;
		max-width: 680px;
	}
	ul li,
	ol li {
		margin: 0.3em 2em;
	}
	a {
		border-bottom: 1px solid;
		font-weight: bold;
		color: #2C85E5;
	}
	&.hdr a {
		font-weight: normal;
		color: inherit;
	}
}

abbr {
	cursor: help;
	text-decoration: none !important;
	//background: #ffebb3;
	font-style: italic;
}

.clients {
	background: url(/assets/img/clients.png);
	background-size: auto 57px;
	background-repeat: repeat-x;
	background-position: 50%;
	animation: popin 0.2s;
	animation: scroll 40s linear infinite;

	@media #{$break-large} {
		p {
			background: #fff;
			box-shadow: 0px 0px 24px 25px #fff;
		}
	}
	@media #{$break-small} {
		p {
			display: none;
		}
	}
}

@keyframes scroll {
	0% { background-position: 0 50%; }
	100% { background-position: -1536px 50%; }
}


@media #{$break-large} {
	.support {
		&__self {
			padding: 40px 40px 40px 0;
		}
		&__team {
			border-left: 1px solid $bdr-grey;
			padding: 40px 0 40px 40px;
		}
	}

	.success__desc {
		width: 33.33%;
	}
}

@media #{$break-small} {
	.success__desc {
		width: auto;
	}
}

.shadow--top {
	box-shadow: 0 4px 11px 0 rgba(0,0,0,.04) inset;
}
.container--wide {
	max-width: 1150px;
	margin-top: 10px;
	padding-top: 20px;
	padding-bottom: 40px;
}
.list--feat li {
	border-bottom: none;
	position: relative;
	list-style: none;
	padding: 0 0 15px 35px;
}
.list--feat svg,
.list--feat img {
	position: absolute;
	left: 0; top: 4px;
	width: 20px;
}

.product__gallery {
	position: relative;
	z-index: 10;
	padding-top: 81.5%;

	@media #{$break-large} {
		margin-top: -40px;
		width: 140%;
		position: absolute;
		left: -10%;
		height: 0;
	}
	@media #{$break-small} {
		margin-top: 20px;
	}
}
.product__frame {
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	background: #21262d;
	border-radius: 6px;
	overflow: hidden;
	box-shadow: -6px 6px 21px rgba(0,0,0,0.16);
	transform: translate3d(0, 0, 0);
}
.product__frame img {
	width: 100%;
	height: auto;
}

@media #{$break-large} {
	.product__visuals {
		height: 460px;
		position: relative;
		top: -40px;
	}
	.product__workswith {
		float: left;
		width: 50%;
		position: relative;
	}
	.product__focus {
		float: right;
		width: 50%;
		position: relative;
	}
	.product__features {
		padding-bottom: 100px;
	}
}

.list--products {
  padding: 20px 0 60px;

  @media #{$break-small} {
	display: none;
  }
}
.list--products li {
	list-style: none;
	position: relative;
}
.list--products a {
	padding-left: 40px;
	margin-right: 45px;
	display: block;
	border-right: 1px solid #e0e0e0;
}
.list--products li:last-of-type a {
	border: none;
}
.list--products li img {
	position: absolute;
	left: 0;  
	width: 20px; height: auto;
	margin-top: 7px;
}

.list--product {
	list-style: none;
	font-size: 17px;
	position: relative;
	z-index: 1;

	@media #{$break-small} {
		padding-bottom: 40px;
	}

	li {
		margin-bottom: 1px;
	}
	a {
		border-bottom: 1px solid $bdr-grey;
	}
	a:hover {
		color: #000 !important;
		border-bottom-color: #000 !important;
	}
}

.gallery div {
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	max-width: 100%;
	max-height: 100%;
	position: absolute;
	pointer-events: none;
	
	opacity: 0;
	transition: opacity 0.5s ease;
	
	&.active {
		opacity: 1;
	}
}
.gallery code {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background: rgba(255,255,255,0.9);
	padding: 20px;
}
.product__caption {
	position: absolute;
	bottom: 20px; left: 20px;
	background: rgba(#21262d, 0.9);
	max-width: 60%;
	color: #fff;
	padding: 4px 12px;
	display: inline-block;
	border-radius: 6px;
}
