body {
	background: #fff;
	color: #21262D;
}
body.dark {
	background: $background;
	
	main {
		color: #fff;
	}
}

.container {
	margin-left: auto;
	margin-right: auto;
	max-width: 1000px;
	position: relative;
	z-index: 1;

	&--pad,
	&--divider {
		padding-top: 40px;
		padding-bottom: 40px;
	}
	&--divider {
		border-top: 1px solid #e8f0f7;

		&:first-of-type() {
			border-top: 0;
		}
	}

	&--pad {
		&:first-of-type {
			padding-top: 30px;
		}
	}
}

@media #{$break-small} {
	.container {
		padding-top: 20px;
		padding-bottom: 20px;
		padding-left: 8%;
		padding-right: 8%;
	}
}

@media #{$break-large} {
	header {
		margin-bottom: 55px;
		h1 {
			margin-top: 22px;
		}
	}
}

.top {
	padding-bottom: 70px;
	position: relative;
	overflow: hidden;
	// position: fixed;
	// top: 0; right: 0; left: 0;

	background-color: #21262D;
	background-size: cover;
	.mzr-no-svg & {
		background-image: url(/assets/img/bg-dark.jpg);
	}
	color: #fff;
	
	.grid {
		position: relative;
	}
	.col--pull {
		position: absolute;
		top: 0;
		left: 100%;
		opacity: 0.3;
	}
}
.pattern {
	svg {
		opacity: 0;
		transition: opacity 0.4 ease-out;
	}
	&--loaded svg {
		opacity: 1;
	}
}

@media #{$break-large} {
	.top {
		padding-top: 30px;
	}
	.top__promo {
		padding: 30px 0 30px 40px;
		position: relative;
		border-radius: 100px 0 0 100px;
		float: right;

		.btn {
			margin: 5px 0 0 20px;
		}

		&:after {
			display: block;
			position: absolute;
			width: 100%;
			left: 100%; top: 0; bottom: 0;
			content: ' ';
		}
	}
}
@media #{$break-small} {
	.top__promo {
		background: $red !important;
		color: #fff !important;
		border-radius: 0 0 8px 8px;
		padding: 15px 20px;
		margin-left: -20px;
		margin-right: -20px;
		margin-bottom: 35px;

		.btn {
			background: #fff !important;
			color: #E5462C !important;
			float: right;
		}
	}
}

main {
	position: relative;
	background: #fff;
	padding-bottom: 1px;

	&:before {
		position: absolute;
		top: -60px;
		left: 0; right: 0;
		transform: skewY(-3deg);
		content: ' ';
		background: #fff;
		height: 100px;
		display: block;
		z-index: 1;
	}
}

.top__bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

body.dark {
	header {
		h1 img {
			opacity: 0;
		}
		h1 a {
			background: url(/assets/img/dadi-colour.svg) no-repeat;
		}
	}
	.nav li:after {
		border-color: $bdr-grey;
	}
	.container--divider {
		border-color: rgba($mid-grey,0.2);
	}
}

.nav {
	font-family: $font-headers;
	list-style: none;
    margin-top: 13px;
    line-height: 32px;

	a {
		position: relative;
		padding: 10px 0 3px;

		&:hover, &.active {
			color: $red;
		}
		&:before {
			content: ' ';
			position: absolute; bottom: 0; left: 0;
			width: 100%;
			height: 2px;
			background-color: $red;
			visibility: hidden;
			transform: scaleX(0);
			transition: all 0.2s ease-in-out 0s;
			transform-origin: 0% 50%;
		}
		&:hover:before, &.active:before {
			visibility: visible;
			transform: scaleX(1);
		}
	}
}

@media #{$break-small} {
	.nav {
		margin: 0 0 25px;
		a {
			display: block;
		}
		li {
			display: inline-block;
			margin: 0 20px 0 0;
		}
	}
}

form {
	.btn, .text {
		line-height: 1.25;
		font-weight: bolder;
		padding: 10px 22px;
		display: inline-block;
		text-align: center;
		border-radius: 0 $radius $radius 0;
		word-wrap: break-word;
		border: 0;
		color: #fff;
		letter-spacing: -0.02em;
		transition: background 0.1s;
		position: relative;
		outline: none;
		cursor: pointer;
		box-shadow: inset 0 -2px 0 rgba($black,0.1);
		border: 1px solid darken($blue,10%);

		background: $blue;
		color: #fff;

		&:active,&:hover,&:focus {
			background: darken($blue,10%);
		}

		@media #{$break-small} {
			width: 100%;
			border-radius: 0 0 $radius $radius;
		}
	}
	.text {
		box-shadow: none;
		border-radius: $radius 0 0 $radius;
		background-color: #fff;
		color: $text;
		border: 1px solid #e8f0f7;
		text-align: left;
		width: 300px;

		&:active,&:hover,&:focus {
			background: #fff;
		}

		@media #{$break-small} {
			width: 100%;
			border-radius: $radius $radius 0 0;
			text-align: center;
		}
	}
}


.footer {
	background-image: url(/assets/img/bg-footer.png);
	background-repeat: no-repeat;
	background-position: 50%;
	background-size: cover;
	position: relative;
	z-index: 1;
}


.product-logo {
    display: block;
    height: 80px;
    margin: 40px 0 0px;
}
@media #{$break-small} {
	.product-logo-full {
		max-width: 100%;
		height: auto;
	}
}

.zoom {
	transition: all 0.15s ease-in-out;

	&:hover {
		transform: scale(1.05);

		.btn {
			background: $dark-grey;
			color: #fff;
		}
	}
}


.read {
	margin-left: auto;
	margin-right: auto;

	h1,h2,h3,h4 {
		margin: 2em auto 0;
		max-width: 680px;

		&:first-of-type() {
			margin-top: 0;
		}
	}
	> h1:first-child,
	> h2:first-child {
		margin-top: 0.5em;
	}
	img {
		max-width: 100%;
		height: auto;
	}
	iframe {
		max-width: 100%;
	}
	ul,
	ol {
		margin: 1.5em auto;
		max-width: 680px;
	}
	ul li,
	ol li {
		margin: 0.5em 1em;
	}
	a {
		border-bottom: 1px solid;
		font-weight: bold;
		color: #2C85E5;
	}
	&.hdr a {
		font-weight: normal;
		color: inherit;
	}
}

abbr {
	cursor: help;
	text-decoration: none !important;
	//background: #ffebb3;
	font-style: italic;
}


.skew {
	transform: skewY(-3deg);
}
.skew--reverse {
	transform: skewY(3deg);
}

.documentation {
	a {
		border-bottom: 1px solid;
		font-weight: bold;
		color: #2C85E5;
	}
	h1 a, h2 a, h3 a, h4 a, h5 a {
		font-weight: normal;
	}
	ol, ul {
		margin-left: 20px; 
	}
	h2, h3 {
		margin-top: 1.5em;
	}
	code {
		padding: 3px 5px;
		background-color: #fafafa;
		border: 1px solid #ebebeb;
		border-radius: 5px;
	}
	pre code {
		display: block;
		padding: 20px;
	}
	pre {
		position: relative;

		&:after {
			content: ' ';
			pointer-events: none;
			display: block;
			position: absolute;
			top: 1px;
			right: 1px;
			width: 50px;
			bottom: 1px;
			border-radius: 0 5px 5px 0;
			background: linear-gradient(to right, rgba(#fafafa,0), #fafafa);
		}
	}
	code, table {
		font-size: 15px;
		line-height: 20px;
	}
	table {
		display: block;
		width: 100%;
		//overflow: auto;
		word-break: normal;
		word-break: keep-all;
		border-spacing: 0;
		border-collapse: collapse;	

		th {
			font-weight: bold;
		}
		th,
		td {
			padding: 6px 13px;
			border: 1px solid #ddd;
		}
		tr {
			background-color: #fff;
			border-top: 1px solid #ccc;
		}
		tr:nth-child(2n) {
			background-color: #f8f8f8; 
		}
		tr:hover {
			background-color: lighten($blue,40%);
		}
	}
	img {
		position: relative;
		max-width: 100%;
		height: auto;
		display: block;
		border-radius: 5px;
		box-shadow: 5px 5px 10px #ddd;
		border: 3px solid #fff;
	}
}