@font-face {
  font-family: 'Gilroy';
  font-style: bold;
  src: local('Gilroy Bold'), url(../fonts/gilroy-bold.woff2) format('woff2'), url(../fonts/gilroy-bold.eot) format('woff'), url(../fonts/gilroy-bold.ttf) format('ttf'), url(../fonts/gilroy-bold.eot) format('eot');
}
